# Raw data is static and too big to be checked into github but can be downloaded from:
# http://www.cr2.cl/download/camels-cl/
# http://www.cr2.cl/recursos-y-publicaciones/bases-de-datos/datos-de-caudales/
*
!.gitignore
!Readme_CAMELScl.txt
!1_CAMELScl_attributes.csv
!preprocessing.R
